[Unit]
Description=Check GitHub for ASAYA updates

[Timer]
OnBootSec=2min
OnUnitActiveSec=2min
RandomizedDelaySec=15s
Persistent=true
Unit=asaya-autodeploy.service

[Install]
WantedBy=timers.target
