asaya.ru, www.asaya.ru {
  encode zstd gzip

  handle /_asaya_deploy/* {
    reverse_proxy unix//run/asaya-deploy/deploy.sock
  }

  handle {
    reverse_proxy web:80
  }

  header {
    Strict-Transport-Security "max-age=31536000"
    X-Content-Type-Options "nosniff"
    Referrer-Policy "strict-origin-when-cross-origin"
    -Server
  }

  log {
    output stdout
    format console
  }
}
